<md-card>
  <md-card-content>
    <div fxFlex fxLayout="column">
      <div class="profile-summary" fxFlex>
        <planner-profile-summary [profile]="session.profile"></planner-profile-summary>
      </div>
      <div class="container1" fxLayout="row" fxFlex>
        <div class="section left-bar" fxFlex="1 1 20%">     
          <div class="left-bar-header">
            <h4 class="font left-bar-title">Obiettivi</h4>
          </div>
          <div class="left-bar-row">
            <planner-profile-goal-selection>
            </planner-profile-goal-selection>
          </div>
        </div>
        <div fxFlex="1 1 80%">
          <planner-avatar-list [avatarList]="avatarList$ | async"></planner-avatar-list>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-footer class="font footer">
    FFO
  </md-card-footer>
</md-card>
