<md-card>
    <md-card-content>
      <div fxFlex fxLayout="column">
        <div class="profile-summary" fxFlex>
          <planner-profile-summary [profile]="profile"></planner-profile-summary>
        </div>
        <div class="container1" fxLayout="row" fxFlex>
          <div class="section left-bar" fxFlex="1 1 20%">     
            <div class="section-header">
              <h4 class="font section-title">Obiettivi</h4>
            </div>
            <div class="section-row">
              <planner-profile-goal-selection [goalTypes]="goalTypes$ | async">
              </planner-profile-goal-selection>
            </div>
          </div>
          <div class="section" fxFlex="1 1 80%">
            <div class="section-header">
              <h4 class="font section-title">Timeline</h4>
              <div class="section-tools">
                <h3 class="section-title">
                  Aggiorna
                </h3>
                <i class="fa fa-refresh" (click)="getProjection()" style="cursor: pointer"></i>
            </div>
            </div>
            <div class="section-row">
              <planner-profile-plan [projection]="projection$ | async" [profile]="profile"></planner-profile-plan>
            </div>
          </div>
        </div>

        <div class="container container2" fxFlex>
          <div class="section" fxLayout="column" fxFlex>
            <div fxFlex="1 1 30%" class="section-header">
              <h4 class="font section-title">Situazione Attuale</h4>
            </div>
            <!-- <div fxFlex="1 1 70%" fxLayout="row">
              <div fxFlex="1 1 50%">
                <planner-slider [title]="'Liquidità iniziale'" [min]="0" [max]="100000" [initialValue]="0"></planner-slider>
              </div>
              <div fxFlex="1 1 50%">
                <planner-slider [title]="'Risparmio annuale'" [min]="0" [max]="3000"></planner-slider>
              </div>
            </div> -->
            <div fxFlex="1 1 70%">
              <planner-profile-current-state [profile]="profile"></planner-profile-current-state>
            </div>
          </div>
        </div>
  
      </div>
    </md-card-content>
    <md-card-footer class="font footer">
      FFO
    </md-card-footer>
  </md-card>
