<div class="goal-details"> 
  <form [formGroup]="goalForm" novalidate>
    <div fxLayout="column">
      <div class="row1" fxLayout="row" fxFlex="1 1 100%">
        <div fxFlex="1 1 35%">
          <md-input-container class="form-label">
            <input mdInput placeholder="Obiettivo" formControlName="name">
          </md-input-container>
        </div>
        <div fxFlex="1 1 30%" *ngIf="showValue()">
          <md-input-container class="form-label">
            <input mdInput placeholder="Valore" formControlName="value">
          </md-input-container>
        </div>
        <div fxFlex="1 1 30%">
          <planner-slider [title]="'Età'" [min]="profile.age" [max]="getMaxAge()" 
                          [step]="1" [value]="goal.age"
                          (valueChanged)="ageChanged($event)">
          </planner-slider>
        </div>
      </div>
      <!-- <div class="row2" fxLayout="row" fxFlex="1 1 100%" fxLayoutAlign="space-around center" *ngIf="isGeneric()">
        <div fxFlex>
          <planner-slider [title]="'Parte Liquida'" [min]="0" [max]="goal.value" 
                          [value]="goal.cashComponent"
                          (valueChanged)="cashComponentChanged($event)">
          </planner-slider>
        </div>
        <div fxFlex>
          <planner-slider [title]="'Parte Finanziata'" [min]="0" [max]="goal.value" 
                          [value]="goal.debtComponent"
                          (valueChanged)="debtComponentChanged($event)">
          </planner-slider>
        </div>
        <div fxFlex>
          <planner-slider [title]="'Interessi Finanziamento'" [min]="0" [max]="20" 
                          [value]="goal.debtInterest" [step]="0.1"
                          (valueChanged)="debtInterestChanged($event)">
          </planner-slider>
        </div>
        <div fxFlex>
          <planner-slider [title]="'Anni Finanziamento'" [min]="0" [max]="50" 
                          [value]="goal.debtDuration"
                          (valueChanged)="debtDurationChanged($event)">
          </planner-slider>
        </div>
        <div fxFlex>
          <planner-slider [title]="'Parte con investimento'" [min]="0" [max]="goal.value" 
                          [value]="goal.investmentComponent"
                          (valueChanged)="investmentComponentChanged($event)">
          </planner-slider>
        </div>
        <div fxFlex>
          <planner-slider [title]="'Interesse di investimento'" [min]="0" [max]="20" 
                          [value]="goal.investmentInterest" [step]="0.1"
                          (valueChanged)="investmentInterestChanged($event)">
          </planner-slider>
        </div>
      </div> -->
      <planner-profile-goal-house [goal]="goal" *ngIf="isHouse()"></planner-profile-goal-house>
      <planner-profile-goal-pip [goal]="goal" *ngIf="isPip()"></planner-profile-goal-pip>
      <planner-profile-goal-life-ins [goal]="goal" *ngIf="isLifeInsurance()"></planner-profile-goal-life-ins>
      <planner-profile-goal-pac [goal]="goal" *ngIf="isPac()"></planner-profile-goal-pac>
    </div>
  </form>
</div>
