  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="false">Drawer content</md-sidenav>
    <div class="main-content">
      <md-toolbar>
        <md-icon class="toolbar-clickable-icon" (click)="sidenav.toggle()">menu</md-icon>
        <span>Personal Financial Planner</span>
        <span class="fill-remaining-space"></span>
        
        <span *ngIf="currentUser">{{currentUser.name}}</span>
        <md-icon *ngIf="currentUser" class="toolbar-clickable-icon" (click)="logout()">close</md-icon>
      </md-toolbar>
    </div>

    <router-outlet></router-outlet>

    <div class="font footer">Footer</div>

  </md-sidenav-container>
