<div class="row2" fxLayout="row" fxFlex="1 1 100%" fxLayoutAlign="space-around center">  
  <div fxFlex>
    <planner-slider [title]="'Rata'" [min]="0" [max]="20000" 
                    [value]="goal.debtYearlyRate"
                    (valueChanged)="debtYearlyRateChanged($event)">
    </planner-slider>
  </div>
  <div fxFlex>
    <planner-slider [title]="'Durata'" [min]="0" [max]="50" 
                    [value]="goal.investmentDuration"
                    (valueChanged)="investmentDurationChanged($event)">
    </planner-slider>
  </div>
</div>