<div fxLayout="column" fxFlex style="padding: 10px">
  <div>{{title + ' - ' + value}}</div>
  <div>
      <div class="slider">
        <md-slider fxFlex="1 1 80%"
            [max]="max"
            [min]="min"
            [step]="step"
            [thumb-label]="true"
            [tick-interval]="5"
            [value]="initialValue"
            (change)="onValueChanged($event)">
        </md-slider>
      </div>
  </div>
  <div fxLayout="row" fxFlex>
    <div fxFlex="1 1 77%">{{min}}</div>
    <div>{{max}}</div>
  </div>
</div>
