<div  fxLayout="column" fxFlex>

  <div  fxLayout="row" fxFlex="1 1 100%">
    <div fxFlex="1 1 50%">
      <planner-slider [title]="'Liquidità iniziale'" [min]="0" [max]="100000" 
          (valueChanged)="initialCapitalChanged($event)" [value]="profile.initialCapital"></planner-slider>
    </div>
    <div fxFlex="1 1 50%">
      <planner-slider [title]="'Risparmio annuale'" [min]="0" [max]="3000"
          (valueChanged)="annualSavingsChanged($event)" [value]="profile.yearlySavings"></planner-slider>
    </div>
  </div>

  <div  fxLayout="row" fxFlex class="current-state-row">
    <div fxFlex>
      <planner-slider [title]="'Soglia investimenti'" [min]="0" [max]="100000" 
          (valueChanged)="investmentThreasholdChanged($event)" [value]="profile.investmentThreashold"></planner-slider>
    </div>
    <div fxFlex>
      <planner-slider [title]="'Massima perdita accettabile (VAR)'" [min]="0" [max]="3000"
          (valueChanged)="valueAtRiskChanged($event)" [value]="profile.valueAtRisk"></planner-slider>
    </div>
    <div fxFlex>
      <planner-slider [title]="'Durata del piano'" [min]="0" [max]="getMaxPlanDuration()" [step]="1"
          (valueChanged)="planDurationChanged($event)" [value]="profile.planDuration"></planner-slider>
    </div>
  </div>

</div>