<div class="row2" fxLayout="row" fxFlex="1 1 100%" fxLayoutAlign="space-around center">  
  <div fxFlex>
    <planner-slider [title]="'Rata mutuo'" [min]="0" [max]="goal.value" 
                    [value]="goal.debtYearlyRate"
                    (valueChanged)="debtYearlyRateChanged($event)">
    </planner-slider>
  </div>
  <div fxFlex>
    <planner-slider [title]="'Anni Finanziamento'" [min]="0" [max]="50" 
                    [value]="goal.debtDuration"
                    (valueChanged)="debtDurationChanged($event)">
    </planner-slider>
  </div>
</div>